name: techpioneers_staging
services:
  web:
    build:
      dockerfile: Dockerfile.prod
    container_name: techpioneers_staging_web
    env_file:
      - .env.staging
    ports:
      - "8081:80"
    environment:
      - NODE_ENV=production