name: techpioneers_local
services:
  web:
    build:
      dockerfile: Dockerfile.dev
    container_name: techpioneers_local_web
    env_file:
      - .env
    ports:
      - "5173:5173"
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    environment:
      - NODE_ENV=development